In [1]:
import pandas as pd

In [2]:
import pandas as pd

In [3]:
obj = pd.series ([4,7,-5,3])

AttributeError: module 'pandas' has no attribute 'series'

In [ ]:
obj = pd.Series ([4,7,-5,3])

In [ ]:
obj

In [ ]:
obj.values

In [ ]:
obj.index

In [ ]:
obj2 = pd.Series([4,7,-5,3],index=["b","d","a","c"])

In [ ]:
obj2

In [ ]:
obj2.index

In [ ]:
obj2["a"]

In [ ]:
obj2["d"]=6

In [ ]:
obj2

In [ ]:
obj2 [["c","a","d"]]

In [ ]:
obj2 ["c","a","d"]

In [ ]:
obj2[obj2>0]

In [ ]:
obj2

In [ ]:
obj2*2

In [ ]:
np.exp(obj2)

In [ ]:
import numpy as np

In [ ]:
np.exp(obj2)

In [ ]:
obj2

In [ ]:
"b" in obj2

In [ ]:
"e" in obj2

In [ ]:
sdata = {"ohio":35000,"texas":71000,"oregon":16000,"utah":5000}

In [ ]:
obj3 = pd.Series(sdata)

In [ ]:
obj3

In [ ]:
sdata

In [ ]:
states = ["californa","ohio","oregon","texas"]

In [ ]:
obj4 = pd.Series(sdata,index=states)

In [ ]:
obj4

In [ ]:
obj2

In [ ]:
boj3

In [ ]:
obj3

In [ ]:
pd.isnull(obj4)

In [ ]:
pd.notnull(obj4)

In [ ]:
obj4.isnull()

In [ ]:
obj3

In [ ]:
obj4

In [ ]:
obj3+obj4

In [ ]:
obj4.name = "population"

In [ ]:
obj4.index.name = "state"

In [ ]:
obj4

In [ ]:
obj

In [ ]:
obj.index = ["bob","steve","jeff","ryan"]

In [ ]:
obj

In [ ]:
np.exp(obj2)

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],         'year': [2000, 2001, 2002, 2001, 2002, 2003],         'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [ ]:
data

In [ ]:
frame = pd.DataFrame(data)

In [ ]:
frame

In [ ]:
pd.DataFrame(data,columns=['year','state','pop'])

In [ ]:
rame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],  index=['one', 'two', 'three', 'four',  'five', 'six'])

In [ ]:
frame2

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],  index=['one', 'two', 'three', 'four',  'five', 'six'])

In [ ]:
frame2

In [ ]:
frame2['state']

In [ ]:
frame2.year

In [ ]:
frame2

In [ ]:
frame2.loc['three']

In [ ]:
frame2['debt']=16.5

In [ ]:
frame2

In [ ]:
frame2['debt'] = np.arange (6.)

In [ ]:
import pandas as pd

In [ ]:
frame2['debt'] = np.arange (6.)

In [ ]:
import numpy as np

In [ ]:
frame2['debt'] = np.arange (6.)

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],  index=['one', 'two', 'three', 'four',  'five', 'six'])

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],         'year': [2000, 2001, 2002, 2001, 2002, 2003],         'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],  index=['one', 'two', 'three', 'four',  'five', 'six'])

In [ ]:
frame2['debt'] = np.arange (6.)

In [ ]:
frame2

In [ ]:
val = pd.Series([-1.2,-1.5,-1.7],index = ['two','four','five'])

In [ ]:
frame2 ['debt'] = val

In [ ]:
frame2

In [ ]:
frame2['eastern'] = frame2.state =='ohio'

In [ ]:
frame2

In [ ]:
del frame2 ['easterm']

In [ ]:
del frame2 ['eastern']

In [ ]:
frame2

In [ ]:
frame2.columns

In [ ]:
pop = {
    'nevada':{2001:2.4,2002:2.9},
    'ohio':{2000:1.5,2001:1.7,2002:3.6}
}

In [ ]:
pop

In [ ]:
frame3 = pd.DataFrame(pop)

In [ ]:
frame3

In [ ]:
frame3.T

In [ ]:
pd.DataFrame(pop,index=[2001,2002,2003])

In [ ]:
pdata = {'ohio':frame3['ohio'][:-1]
         'nevada':frame3['nevada'][:2]}

In [ ]:
pdata = {'ohio':frame3['ohio'][:-1],
         'nevada':frame3['nevada'][:2]}

In [ ]:
pdata

In [ ]:
pd.DataFrame(pdata)

In [ ]:
frame3.index.name = 'year';frame.columns.name = 'state'

In [ ]:
frame3.index.name = 'year';frame3.columns.name = 'state'

In [ ]:
frame3

In [ ]:
frame3.values

In [ ]:
frame2.values

In [ ]:
obj = pd.Series(range(3),index=['a','b','c'])

In [ ]:
index = obj.index

In [ ]:
index

In [ ]:
index[1:]

In [ ]:
index[1]='d'

In [ ]:
labels = pd.Index(np.arange(3))

In [ ]:
labels

In [ ]:
obj2 = pd.Series([0,1,2],dtype='int64')

In [ ]:
obj2

In [ ]:
obj2 = pd.Series([1.5,-2.5,0],dtype='int64')

In [ ]:
obj2 = pd.Series([1.5,-2.5,0],index=labels)

In [ ]:
obj2

In [ ]:
obj2.index is labels

In [ ]:
frame3.columns

In [ ]:
'ohio' in frame3.columns

In [ ]:
2003 in frame3.index

In [ ]:
dup_labels = pd.Index(['foo','foo','bar','bar'])

In [ ]:
dup_labels

In [ ]:
dup_labels['foo']

In [ ]:
obj = pd.Series([4.5,7.2,-5.3,3.6],index=['d','b','a','c'])

In [ ]:
obj

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])

In [7]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [8]:
obj2 = obj.reindex(['a','b','c','d','e'])

In [9]:
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [10]:
obj3 = pd.Series(['blue','purple','yellow'],index= [0,2,4])

In [11]:
obj3

0      blue
2    purple
4    yellow
dtype: object

In [12]:
obj3.reindex(range(6),method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [13]:
frame = pd.DataFrame(np.aranger(9).reshape(3,3),
                    index=['a','b','c'],
                    columns=['ohil','Texas','california'])

AttributeError: module 'numpy' has no attribute 'aranger'

In [14]:
import numpy as np

In [15]:
frame = pd.DataFrame(np.aranger(9).reshape(3,3),
                    index=['a','b','c'],
                    columns=['ohil','Texas','california'])

AttributeError: module 'numpy' has no attribute 'aranger'

In [16]:
frame = pd.DataFrame(np.arange(9).reshape(3,3),
                    index=['a','b','c'],
                    columns=['ohil','Texas','california'])

In [17]:
frame

   ohil  Texas  california
a     0      1           2
b     3      4           5
c     6      7           8

In [18]:
frame2 = frame.reindex(['a','b','c','d'])

In [19]:
frame2

   ohil  Texas  california
a   0.0    1.0         2.0
b   3.0    4.0         5.0
c   6.0    7.0         8.0
d   NaN    NaN         NaN

In [20]:
states = ['texas','utah','california']

In [21]:
frame.reindex(columns = states)

   texas  utah  california
a    NaN   NaN           2
b    NaN   NaN           5
c    NaN   NaN           8

In [22]:
frame = pd.DataFrame(np.arange(9).reshape(3,3),
                    index=['a','b','c'],
                    columns=['ohil','texas','california'])

In [23]:
states = ['texas','utah','california']

In [24]:
frame.reindex(columns = states)

   texas  utah  california
a      1   NaN           2
b      4   NaN           5
c      7   NaN           8

In [25]:
fram.loc[['a','b','c','d'],states]

NameError: name 'fram' is not defined

In [26]:
frame.loc[['a','b','c','d'],states]

/Users/elvisjade/Library/Python/3.7/lib/python/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

   texas  utah  california
a    1.0   NaN         2.0
b    4.0   NaN         5.0
c    7.0   NaN         8.0
d    NaN   NaN         NaN

In [27]:
obj = pd.Series(np.arange(5.),index=['a','b','c','d','e'])

In [28]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [29]:
new_obj = obj.drop('c')

In [30]:
new_obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [31]:
obj.drop(['d','c'])

a    0.0
b    1.0
e    4.0
dtype: float64

In [32]:
data = pd.DataFrame(np.range(16),reshape(16),
                   index=['ohio','colorado','utah','new york'],
                   columns=['one','two','three','four'])

AttributeError: module 'numpy' has no attribute 'range'

In [33]:
data = pd.DataFrame(np.arange(16),reshape(16),
                   index=['ohio','colorado','utah','new york'],
                   columns=['one','two','three','four'])

NameError: name 'reshape' is not defined

In [34]:
data = pd.DataFrame(np.arange(16),reshape((4,4)),
                   index=['ohio','colorado','utah','new york'],
                   columns=['one','two','three','four'])

NameError: name 'reshape' is not defined

In [35]:
import numpy as np

In [36]:
data = pd.DataFrame(np.arange(16),reshape((4,4)),
                   index=['ohio','colorado','utah','new york'],
                   columns=['one','two','three','four'])

NameError: name 'reshape' is not defined

In [37]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),index=['Ohio', 'Colorado', 'Utah', 'New York'],columns=['one', 'two', 'three', 'four'])

In [38]:
data = pd.DataFrame(np.arange(16).reshape((4,4)),
                   index=['ohio','colorado','utah','new york'],
                   columns=['one','two','three','four'])

In [39]:
data

          one  two  three  four
ohio        0    1      2     3
colorado    4    5      6     7
utah        8    9     10    11
new york   12   13     14    15

In [40]:
data.drop(['colorado','ohio'])

          one  two  three  four
utah        8    9     10    11
new york   12   13     14    15

In [41]:
data.drop(['two',axis=1])

SyntaxError: invalid syntax (<ipython-input-41-510555654a80>, line 1)

In [42]:
data.drop(['two'],axis=1)

          one  three  four
ohio        0      2     3
colorado    4      6     7
utah        8     10    11
new york   12     14    15

In [43]:
data

          one  two  three  four
ohio        0    1      2     3
colorado    4    5      6     7
utah        8    9     10    11
new york   12   13     14    15

In [44]:
data.drop(['two','four'],axis=columns)

NameError: name 'columns' is not defined

In [45]:
data.drop(['two','four'],axis='columns')

          one  three
ohio        0      2
colorado    4      6
utah        8     10
new york   12     14

In [46]:
obj.drop ('c',inplace=True)

In [47]:
obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [48]:
obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64